[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
gunicorn = "*"
joblib = "*"
scikit-learn = "*"
json = "*"
pandas = "*"

[requires]
python_version = "3.7"
